html, body {
  margin: 0;
  padding: 0;
}
#buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
#canvas {
  min-width: 800px;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#canvas-slider-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#controls {
  min-width: 20vw;
  padding: 0.5rem;
  border: 1px solid #888;
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.4rem 0.4rem #555;
}
#color-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#rgb-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#color-preview{
  width: 100%;
  display: block;
  border: 3px solid #888;
}
#color-text{
  width: 5rem;
}
#pen-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#preview {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: fit-content;
  padding-top: 5rem;
}
#color-picker-controls{
  display: flex;
}
#color-picker {
  width: 100%;
}

#menu-dropdown{
  padding: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid #888;
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.4rem 0.7rem #555;
}

#side-bar {
  display: flex;
  flex-direction: column;
}

#size-radio{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

@media (orientation: landscape) {
  .app-container{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: space-around;
  }
}
@media (orientation: portrait) {
  .app-container{
    display: flex;
    flex-direction: column-reverse;
    max-width: 100%;
    justify-content: space-around;
    align-items: center;
  }

  #side-bar {
    flex-direction: row;
    flex-wrap: nowrap;
  }

}

.dropdown-menu.show {
  display: flex;
}

.invalid {
  border: 3px solid red;
}

.btn{
  margin: 0.25rem;
}

.slider {
  display: flex;
  flex-direction: column;

  align-items: center;
}
